@import "../../assets/variables.scss";

.HeroText {
  color: white;
}
.HeroSubText {
  color: white;
}
.ViewAll {
  color: $color-primary;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .TrendingTitle {
    font-size: 16px !important;
  }
  .HeroText {
    font-size: 25px;
  }
}
