@import "../../assets/variables.scss";

.Logo {
  background-color: #ffffff;
  color: black;
  border: none;
}

.logo:hover {
  background-color: #ffffff !important;
  color: black;
}

.userIcon {
  background-color: $color-primary;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 20px;
}

.break {
  border-left: 1px solid #e8e8e8;
  height: 42px;
}
.navbar-dark .navbar-toggler {
  border: none;
  display: inline;
  outline: none;
}
.navbar-collapse {
  transition: all 0.5s ease;
}

@media screen and (max-width: 991px) {
  .break {
    display: none !important;
  }
}
