@import "../../../assets/variables.scss";

.SearchBox {
  min-height: 100px;
}

.SearchContainer::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.CustomSearchInput {
  border: none;
}

.CustomSearchInput:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.CustomSearchInputLabel {
  text-align: left;
}

.SearchInputWrapper {
  border-right: 1px solid #e8e8e8;
  flex: 1;
}

.CustomButton {
  background-color: $color-primary;
  color: white;
  height: 50px;
  width: 168px;
}

// less than meduim
@media screen and (max-width: 992px) {
  .SearchInputWrapper {
    border-bottom: 1px solid #e8e8e8;
    border-right: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
