@import "../../../assets/variables.scss";
.trends {
}
.title {
  font-size: 20px;
}
.dot {
  color: $color-primary;
}
.priceBox {
  border-left: 1px solid $color-grey;
  padding-left: 15px;
}
.profileImage {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.scrollRow::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}

.scrollRow::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 15, 0.1);
}

@media screen and (max-width: 992px) {
  .scrollRow::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
